@import "reset.css";

:root {
  --main-color: #131627;
  --second-color: #1d1f37;
  --third-color: #292c4b;
  --white: #e3f1ff;
  --grey: #666a87;
  --purple: #6b42dc;
}

#main-container {
  display: grid;
  grid-template-columns: 15% 85%;
}

/* ------------------------------ MENU ------------------------------ */

#menu {
  background-color: var(--second-color);
  height: 100vh;
  position: relative;
}

#menu-content {
  background-color: var(--second-color);
  width: 15%;
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#logo {
  width: 15rem;
  margin-top: 5rem;
}

#main-content {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 20rem);
}

/* ------------------------------ INTRO ------------------------------ */

#intro {
  grid-column: 1 / 6;
  grid-row: 1 / 1;
  padding-top: 5rem;
  padding-left: 5rem;
}

#hello {
  font-size: 4rem;
  font-weight: bold;
  color: var(--white);
}

/* #your-name {
  color: var(--purple);
} */

#hello::after {
  content: " my friend 👋";
  color: var(--purple);
}

#baseline {
  color: var(--grey);
  font-size: 1.6rem;
}

/* ------------------------------ FUNFACT BLOCK ------------------------------ */

#funfact-block {
  background-color: var(--second-color);
  grid-row: 2 / 3;
  grid-column: 1/ 7;
  border-radius: 2rem;
  margin: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-block {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  padding: 0rem 0rem 2rem 4rem;
}

#text-funfact-block {
  font-size: 1.4rem;
  color: var(--grey);
  padding-left: 4rem;
  padding-right: 25rem;
  line-height: 2.5rem;
}

/* ------------------------------ WEATHER BLOCK ------------------------------ */

#weather-block {
  background-color: var(--second-color);
  grid-row: 1 / 3;
  grid-column: 7 / span 5;
  border-radius: 2rem;
  margin-right: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: right;
}

#city-weather-block {
  font-size: 5rem;
  color: var(--white);
  font-weight: bold;
  padding: 1rem 0rem 0rem 4rem;
  text-transform: uppercase;
}

.line {
  width: 45%;
  height: 0.1rem;
  background-color: var(--grey);
  margin-left: 4rem;
  margin-top: 2rem;
}

#degrees-weather-block {
  font-size: 9rem;
  color: var(--white);
  font-weight: bold;
  padding: 0rem 0rem 0rem 4rem;
}

#date-weather-block {
  font-size: 1.7rem;
  color: var(--white);
  padding: 4rem 0rem 0rem 4rem;
}

/* ------------------------------ NEWS BLOCK ------------------------------ */

#news-block {
  grid-row: 3 / 4;
  grid-column: 1 /7;
  padding-left: 4rem;
}

#title-news-block p {
  font-size: 3rem;
  color: var(--white);
  font-weight: bold;
  margin-bottom: -0.5rem;
}

#news-block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 6rem 5rem 0rem 0rem;
}

#filter-news-block ul li {
  font-size: 1.4rem;
  color: var(--grey);
  text-transform: uppercase;
  display: inline;
  list-style: none;
  margin-left: 3rem;
}

#filter-news-block ul li:hover {
  color: var(--purple);

  cursor: pointer;
}

#line-news-block {
  width: 93%;
  height: 0.3rem;
  background-color: var(--second-color);
  margin: 1rem 0rem 0rem 0.9rem;
}

/* ------------------------------ ARTICLE ------------------------------ */

.article {
  grid-row: 4 / 5;
  grid-column: 1 /7;
  margin: -5rem 5rem 0 5rem;
  color: var(--white);
}

.article1 {
  grid-row: 6 / 7;
  grid-column: 1 /7;
  margin: -8rem 5rem 0 5rem;
  color: var(--white);
}

.article2 {
  grid-row: 8 / 9;
  grid-column: 1 /7;
  margin: -11rem 5rem 0 5rem;
  color: var(--white);
}

.article-content,
.article-content1,
.article-content2 {
  display: flex;
  justify-content: space-between;
}

.text-article,
.text-article1,
.text-article2 {
  width: 50rem;
}

.header-text-article,
.header-text-article1,
.header-text-article2 {
  display: flex;
}

.author-article,
.author-article1,
.author-article2 {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.author-article::before,
.author-article1::before,
.author-article2::before {
  content: "Written by ";
  color: var(--grey);
}

.date-article,
.date-article1,
.date-article2 {
  font-size: 1.2rem;
  color: var(--grey);
}

.date-article::before,
.date-article1::before,
.date-article2::before {
  content: " • ";
}

.title-article,
.title-article1,
.title-article2 {
  margin-top: 3rem;
  margin-right: 3rem;
  font-size: 1.8rem;
  color: var(--white);
  font-weight: bold;
}

.description-article,
.description-article1,
.description-article2 {
  margin-top: 1.5rem;
  margin-right: 3rem;
  font-size: 1.4rem;
  color: var(--grey);
  line-height: 2rem;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.img-article,
.img-article1,
.img-article2 {
  background-color: green;
  height: 26.3rem;
  width: 24rem;
  border-radius: 2rem;
  object-fit: cover;
}

.btn-article,
.btn-article1,
.btn-article2 {
  margin-top: 3rem;
  background-color: var(--second-color);
  color: var(--purple);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.btn-article:hover,
.btn-article1:hover,
.btn-article2:hover {
  background-color: var(--purple);
  color: var(--white);
}

.line-article {
  width: 100%;
  height: 0.3rem;
  background-color: var(--second-color);
  margin-top: 5rem;
}

#link-tech,
#link-apps,
#link-crypto,
#link-security {
  transition: all 0.35s ease-in-out;
}

/* ------------------------------ SPOTIFY BLOCK ------------------------------ */

#spotify-block {
  grid-row: 3 / 5;
  grid-column: 7 / 11;
  margin-right: 5rem;
  margin-top: 8rem;
}

#main .ae {
  color: var(--purple);
}

/* ------------------------------ PRACTICE BLOCK ------------------------------ */

#practice-block {
  background-color: var(--second-color);
  grid-row: 6 / 8;
  grid-column: 7 / 11;
  border-radius: 2rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-practice-block {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  padding: 0rem 0rem 2rem 4rem;
}

#description-practice-block {
  font-size: 1.4rem;
  color: var(--grey);
  padding-left: 4rem;
  line-height: 2.5rem;
}

.btn-block {
  margin-top: 3rem;
  margin-left: 4rem;
  background-color: var(--main-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 45%;
  display: flex;
  justify-content: space-between;
  transition: all 0.25s ease-in-out;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--purple);
}

.btn-block:hover {
  background-color: var(--purple);
  color: var(--white);
}

.btn-block p {
  padding: 1rem;
}

.icon-block {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.icon-arrow {
  width: 2rem;
  height: 2rem;
}

/* ------------------------------ LUNCH BLOCK ------------------------------ */

/* #title-lunch-block {
  grid-row: 9/ 10;
  grid-column: span 10;
  margin-left: 5rem;
  font-size: 3rem;
  color: var(--white);
  font-weight: bold;
  margin-top: 14rem;
} */

#lunch-block {
  background-color: var(--second-color);
  grid-row: 9 / 11;
  grid-column: span 10;
  border-radius: 2rem;
  margin: 8rem 5rem 0rem 5rem;
  display: flex;
}

#left-lunch {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 45%;
}

#title-lunch {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  padding: 0rem 0rem 2rem 4rem;
}

#description-lunch {
  font-size: 1.4rem;
  color: var(--grey);
  padding-left: 4rem;
  padding-right: 4rem;
  line-height: 2.5rem;
}

.btn-lunch-block {
  margin-top: 3rem;
  margin-left: 4rem;
  background-color: var(--main-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 35%;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--purple);
  transition: all 0.35s ease-in-out;
}

.btn-lunch-block:hover {
  background-color: var(--purple);
  color: var(--white);
}

.btn-lunch-block p {
  padding: 1rem;
}

.right-lunch {
  background-color: var(--third-color);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.bg-lunch {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-hide {
  display: none;
}

#text-right-lunch {
  margin-top: 1.5rem;
}

#name-lunch {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  padding: 5rem 0rem 0rem 4rem;
}

#type-lunch {
  font-size: 2rem;
  color: var(--grey);
  font-weight: bold;
  padding: 0rem 0rem 2rem 4rem;
}

#address-lunch {
  font-size: 1.5rem;
  color: var(--grey);
  padding: 0rem 0rem 5rem 4rem;
}

.link-map {
  background-color: var(--second-color);
  color: var(--purple);
  padding: 1.5rem 4rem;
  margin-left: 4rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s ease-out;
}

.link-map:hover {
  background-color: var(--purple);
  color: var(--white);
}

.add-map {
  display: none;
}

.img-lunch-content {
  width: 50%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 3rem;
}

.add-img-lunch {
  display: none;
}

#img-lunch {
  object-fit: cover;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 100%;
  height: 100%;
}

#footer {
  grid-row: 13 / 14;
  grid-column: span 10;
}
